
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic);
$font-family: 'Lato', Helvetica, sans-serif;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-heavy: 700;
$font-height: 1.5;

.f-size-xl {
	font-size: 3rem;
}

.f-size-l {
	font-size: 2rem;
}

.f-size-s {
	font-size: 0.8rem;
}

* {
	font-family: $font-family;
	font-size: 1rem;
}